* {
    margin: 0px;
}
.nav {
    background-color: rgb(51, 51, 51);
    display: flex;
    justify-content: center;
    align-items: flex-start;
    padding: 15px;
    gap: 15em;
}

.nav-title {
    color: white;
    font-family: 'roboto', sans-serif;
    
}


.nav-links {
    list-style: none;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    gap: 1em;
    margin: 10px;
}

a {
    color: white;
    text-decoration: none;
    font-family: 'roboto', sans-serif;
}

.btn {
    color: white;
    background-color:rgb(22, 162, 184);
    font-family: 'roboto', sans-serif;
    border-color: black;
    box-shadow: 4px 4px 4px black;
    margin: 10px;
    align-self: flex-end;
}


.container {
    background-color: white;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}

.box-1 {
    background-color: white;
    width: 30%;
    height: 500px;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    margin-left: 460px;
    margin-top: 30px;
    border: 2px solid lightgray;
}

.blue-card {
    background-color: rgb(22,162,184);
    width: 100%;
    height: 20%;
    border-color: black;
}

