* {
    margin: 0px;
}
.nav {
    background-color: rgb(51, 51, 51);
    display: flex;
    justify-content: center;
    align-items: flex-start;
    gap: 25em;
    padding: 15px;


}.nav-title {
    color: white;
    font-family: 'roboto', sans-serif;
    
}


.nav-links {
    list-style: none;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    gap: 1em;
    margin: 10px;
}

a {
    color: white;
    text-decoration: none;
    font-family: 'roboto', sans-serif;
}

.btn {
    color: white;
    background-color:rgb(22, 162, 184);
    font-family: 'roboto', sans-serif;
    border-color: black;
    box-shadow: 4px 4px 4px black;
}